.navbar {
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* transition: background-color 0.3s ease-in-out; */
}

.navbar-brand img {
    height: 30px; /* Sesuaikan ukuran logo di sini */
    width: auto;
    margin-right: 10px; /* Jarak antara logo dan teks */
}

/* Style for navbar text */
.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.navbar-light .navbar-brand {
    color: white !important;
}

.navbar-bg {
    background: #f8cb01;
}

.card {
    transition: transform 0.3s ease; /* Durasi dan tipe transisi */
}

.card:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* Memberikan bayangan saat zoom */
}
.carousel-item img {
    height: 100vh;
    object-fit: cover;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Gelap dengan transparansi */
    z-index: 1; /* Pastikan overlay berada di atas gambar */
}
.carousel {
    margin-top: 56px;
    /* Tinggi navbar */
    z-index: 1;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}

/* Updated Log In button style */
.login-btn {
    background-color: #d4ac0d; /* Button background color */
    color: white !important;
    padding: 4px 8px;
    border-radius: 5px;
}

.login-btn:hover {
    background-color: #d4ac0d;
    color: white;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.btn-outline-primary.custom-btn {
    border-color: #333333;
    color: #333333;
}
.social-icons a {
    color: #ffde4d;
}

.social-icons a:hover {
    color: #d4ac0d;
}

/* Mengganti warna teks */
footer p {
    color: #ffde4d;
}

.custom-hr {
    border: none;
    height: 3px; /* Tebal garis */
    background-color: #f8cb01; /* Warna garis */
    width: 200px; /* Panjang garis */
    margin: 0 auto; /* Agar center */
    border-radius: 20px;
}

.news {
    margin-top: 70px;
}

.news-detail {
    margin-top: 80px;
}
