.sidebar {
  min-height: 100vh;
  position: relative;
  width: 255px;
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);  */
  /* border: 1px solid #ea1111; */
  background-color: #dbb055;
}

.navbar {
  background-color: yellow;
}

.logo {
  width: 45px;
  padding-right: 10px;
  margin-left: 5px;
}

.sidebar-hilang,
.sidebar-hilang-nama-sekolah {
  margin-left: 13px;
  opacity: 1;
}

.position-absolute {
  position: absolute;
}

.sidebar-hilang {
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: absolute;
}

.sidebar-hide {
  opacity: 0;
  /* saat hilang geser ke kiri */
  /* transform: translateX(-100%); */
  /* Geser ke kiri dengan batas 10px */
  transform: translateX(-10px);
}

.logo-nama-sekolah {
  margin-top: 10px;
  margin-bottom: -3px;
  /* border: 1px solid #000000 */
}

.nama-sekolah {
  margin-left: 0;
}

.burger-menu {
  margin: -7px;
}

.active {
  padding-right: -10px;
}

.dashboard-menu {
  margin-bottom: 35px;
}

.dataTables_length {
  margin-bottom: 10px;
  /* Atur margin bawah sesuai kebutuhan */
}

.dataTables_paginate {
  margin-bottom: 12px;
  /* Atur margin bawah sesuai kebutuhan */
}

.embed-responsive-item {
  position: relative;
  width: 95%;
  padding-top: 0%;
  padding-bottom: 0%;
  min-height: 394px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.nav-item.active {
  background-color: #007bff;
}
